[Unit]
Description=Legion GO mic fix
After=pipewire.service pipewire-pulse.service wireplumber.service
Requires=pipewire.service pipewire-pulse.service wireplumber.service

[Service]
ExecStart=/bin/sh -c 'pactl subscribe | while read -r line; do pactl set-source-volume alsa_input.pci-0000_c2_00.6.analog-stereo 50%; done'
Restart=always

[Install]
WantedBy=default.target

